<div class="d-flex justify-content-center h-100">
  <div class="card-login">
    <div class="card-header">
      <h3>Sign Up</h3>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.label :name, class: 'form-label' %>
        <div class="input-group mb-3">
          <span class="input-group-text input-group-login-color"><i class="fas fa-user"></i></span>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control', required: true %>
        </div>
        <%= f.label :email, class: 'form-label' %>
        <div class="input-group mb-3">
          <span class="input-group-text input-group-login-color"><i class="fas fa-at"></i></span>
          <%= f.email_field :email, autocomplete: "email", class: 'form-control', required: true %>
        </div>
        <%= f.label :password, class: 'form-label' %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <div class="input-group mb-3">
          <span class="input-group-text input-group-login-color"><i class="fas fa-key"></i></span>
          <%= f.password_field :password, autocomplete: "new-password" , class: 'form-control', required: true %>
        </div>
        <%= f.label :password_confirmation, class: 'form-label' %>
        <div class="input-group mb-3">
          <span class="input-group-text input-group-login-color"><i class="fas fa-key"></i></span>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: 'form-control', required: true %>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-center">
            <%= f.submit "Sign up", class: 'btn login_btn' %>
          </div>
          <div class="d-flex justify-content-center mt-2">
            <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>