<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @purchase.user_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @purchase.item_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @purchase.price %>
</p>

<p>
  <strong>Count:</strong>
  <%= @purchase.count %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) if can? :edit, Purchase  %> |
<%= link_to 'Back', purchases_path %>
