<p id="notice"><%= notice %></p>

<div class="card mt-3 mb-3">
  <div class="card-body ">

    <p>
      <strong>Name:</strong>
      <%= @merchant.name %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @merchant.address %>
    </p>

    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <%= link_to 'Edit', edit_merchant_path(@merchant), class: 'btn btn-warning' %>
      <%= link_to 'Back', merchants_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>