<!DOCTYPE html>
<html>
  <head>
    <title>Syspurchase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <%= render 'layouts/menu_top' %>
  <% end %>

    <div class="container mt-3">
      <div id="flash_messages">
        <%= flash_messages %>
      </div>
      <%= yield %>
    </div>

  <% if user_signed_in? %>
    <%= render 'layouts/footer' %>
  <% end %>
  </body>
</html>
